<h2>Eventos que podemos implementar</h2>

<table border="1" width="500">
    <tr bgcolor="silver">
        <td><b>Envento em JavaScript</b></td>
        <td><b>Evento em Angular</b></td>
    </tr>

    <tr>
        <td>onChange</td>
        <td>(change)</td>
    </tr>
    <tr>
        <td>onClick</td>
        <td>(click)</td>
    </tr>
    <tr>
        <td>onDblClick</td>
        <td>(dbclick)</td>
    </tr>
    <tr>
        <td>onKeyDown</td>
        <td>(keydown)</td>
    </tr>
    <tr>
        <td>onKeyPress</td>
        <td>(keypress)</td>
    </tr>
    <tr>
        <td>onKeyUp</td>
        <td>(keyup)</td>
    </tr>
    <tr>
        <td>onSubmit</td>
        <td>(submit)</td>
    </tr>

</table>

<p>Exemplo:</p>
<button (click)="mensagem()">Clique aqui!</button>

