<!-- Para utilizar o control Flow usamos @ -->

<h1>Utilizando Control Flow - Condicional</h1>
@if (media >= 7) {

    <p>Nota: {{ media }} - Aprovado</p>

}@else if (media >= 5) {

    <p>Nota: {{ media }} - Em exame</p>

}@else {

    <p>Nota: {{ media }} - Reprovado</p>
}


<h1>Utilizando Control Flow - Laço de repetição</h1>

@for (n of nomes; track $index) {

    <table border="1" width="250">
        
        <tr>
            <td width="30" align="center">{{ $index }}</td>
            <td>{{ n }}</td>
        </tr>
    </table>
    
}

@for (n of nomes; track $index) {
<p>{{ $index }} - {{ n }}</p>
}

<h1>Utilizando Control Flow - Estrutura de escolha</h1>

@switch (linguagem) {
    @case ('HTML') {<p>Linguagem de marcação</p>}
    @case ('CSS') {<p>Linguagem de estilos</p>}
    @case ('JS') {<p>Linguagem de programação</p>}
    @default {<p>Linguagem desconhecida</p>}
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>